<style>
  img {
    display: block;
    width: auto;
    height: 64px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/" class="flex items-center space-x-2">
  <img
    alt="Gila Brewing Co. Logo"
    src="/assets/images/logo.png"
    class="h-8 w-auto transition-transform duration-200 hover:scale-105"
    width="64"
    height="64"
  />
  <span class="text-lg font-bold text-forest-green dark:text-desert-sand">
    Gila Brewing
  </span>
</a>
