---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ThemeManager from "../components/ThemeManager.astro";
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  permalink: string;
  current?: string;
}
const { title, description, permalink, current } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Bitter:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- favicon -->
    <link
      rel="icon"
      type="image/png"
      href="/public/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
    <link rel="shortcut icon" href="/public/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Gila Brew Co." />
    <link rel="manifest" href="/public/site.webmanifest" />
  </head>
  <body>
    <div class="layout">
      <Header current={current} />

      <main class="flex-1 w-full">
        <slot />
      </main>

      <Footer />
    </div>
    <ThemeManager />
  </body>
</html>

<style>
  .layout {
    @apply flex flex-col min-h-screen;
  }
</style>
