---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description, permalink, current = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Gila Brew Co." />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <div class="layout">
      <Header current={current} />

      <main class="flex-1 w-full">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<style>
  .layout {
    @apply flex flex-col min-h-screen;
  }
</style>
